{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'assets/css/comment.css' %}">
          <div id="comments">
              <h3 class="comments-title">{{ comment_num }} Comments</h3>
              <br><hr>
                  <div class="pinglun-body">
                      {% for comment in comment_list %}
                          <div class="pinglun-avatar">
                              <img alt="" src="{% static 'assets/images/default.png' %}" >
                          </div>
                          <h3>
                              {{ comment.user }}
                              <span class="pull-right">{{ comment.date_publish | date:'Y-m-d H:i:s' }}</span>
                          </h3>

                          <div class="pinglun-text">{{ comment.content }}</div>

                          {% for children_comment in comment.children_comment %}
                              <div class="parent-pinglun">
                                  <blockquote>
                                      <em><i class="fa fa-quote-left"></i>{{ children_comment.user }}</em><br>
                                      <div>{{ children_comment.content }}</div>
                                  </blockquote>
                              </div>
                          {% endfor %}

                          <div class="pinglun-bottom">
                              <a class="reply" id="#" href="#评论" data-name="{{ comment.user }}">
                                  <span class="pull-right">回复</span>
                              </a>
                              <div class="clear"></div>
                          </div>
                          <hr>
                          <br>
                      {% endfor %}

                  </div>
              </div>




