<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-6 widget">
				<h3 class="widget-title">Contact</h3>
				<div class="widget-body">
                    <p>+86 15608899502<br>
                        <a href="mailto:#">g352415441@gmail.com</a><br>
						<br>
						KunMing, YunNan
					</p>
				</div>
			</div>

			<div class="col-md-3 widget ">
				<h3 class="widget-title">Follow me</h3>
				<div class="widget-body">
					<p class="follow-me-icons">
						<a href=""><i class="fa fa-twitter fa-2"></i></a>
						<a href=""><i class="fa fa-dribbble fa-2"></i></a>
						<a href=""><i class="fa fa-github fa-2"></i></a>
						<a href=""><i class="fa fa-facebook fa-2"></i></a>
					</p>
				</div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>

<footer id="underfooter">
	<div class="container">
		<div class="row">

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p>KunMing, YunNan</p>
				</div>
			</div>

			<div class="col-md-6 widget">
				<div class="widget-body">
					<p class="text-right">
						Copyright &copy; 2018, Stay Hungry, Stay Foolish.<br>
                </div>
			</div>

		</div> <!-- /row of widgets -->
	</div>
</footer>