{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!--<link rel="stylesheet" href="{ static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{ static 'blog/css/highlights/github.css' %}"> -->

    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">

    <style>
        span.highlight {
            color: black;
        }
        #pagination{
            color:#bd1550;
        }
    </style>

<div class="content-body">
    <div class="container">
        <div class="row">

            <main class="col-md-8">
       {% for article in article_list %}
                    <article class="post post-#">
            <header class="entry-header">
                <h1 class="entry-title">
                    <a href="{% url "article" %}?id={{ article.id }}" rel="bookmark">{{ article.title }}</a>
                </h1>
                <div class="entry-meta">
                    <span class="post-category">
                        <a href="#">分类</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="#">时间</time></a></span>
                    <span class="post-author"><a href="#">{{ article.user }}</a></span>
                    <span class="comments-link">
                        <a href="#">评论</a></span>
                    <span class="views-count"><a href="#">1000阅读</a></span>
                </div>
            </header>
            <div class="entry-content clearfix">
                <div>{{ article.content | truncatewords:"15"| safe}}</div>
                <div class="read-more cl-effect-10">
                    <a href="{% url "article" %}?id={{ article.id }}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                </div>
            </div>
        </article>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

                <center class="">
                    <div class="pagination">
                        <!-- 如果当前页还有上一页，显示一个上一页的按钮 -->
                        {% if article_list.has_previous %}
                            <a href="?page={{ article_list.previous_page_number }}" id="pagination">上一页</a>
                        {% endif %}
                        <!-- 显示当前页面信息 -->
                        <span class="current">第 {{ article_list.number }} 页 / 共 {{ article_list.paginator.num_pages }} 页</span>
                        <!-- 如果当前页还有下一页，显示一个下一页的按钮 -->
                        {% if article_list.has_next %}
                            <a href="?page={{ article_list.next_page_number }}" id="pagination">下一页</a>
                        {% endif %}
                    </div>
                    </center>
            </main>

            <aside class="col-md-4">
                {% block toc %}
                {% endblock toc %}
                <div class="widget widget-recent-posts">
                    <h3 class="widget-title">最新文章</h3>
                    <ul>
                {% for article in new_list %}
                            <li>
                               <a href="{% url "article" %}?id={{ article.id }}" rel="bookmark">{{ article.title }}</a>
                            </li>
                        {% empty %}
                            暂无文章
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget-tag-cloud">
                    <h3 class="widget-title">标签云</h3>
                    <ul>
                        {% for tag in tag_list %}
                            <li>
                                <a href="#">{{ tag.name }}</a>
                            </li>
                        {% empty %}
                            暂无标签！
                        {% endfor %}
                    </ul>
                </div>

                <div class="widget widget-archives ">
                    <h4 class="widget-archives ">文章归档</h4>
                    <ul>
                        {% for archive in archive_list %}
                            <li>
                                <p><span class="tutime font-size-18"><a href='{% url 'archive' %}?year={{ archive | slice:":4" }}&month={{ archive | slice:"5:7" }}'>{{ archive }}</a></span></p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

            </aside>

        </div>
    </div>
</div>
        <!-- js
    <script src="{static 'blog/js/pace.min.js' %}"></script>
    <script src="{ static 'blog/js/modernizr.custom.js' %}"></script>
    <script src="{ static 'blog/js/script.js' %}"></script>
    -->
{% endblock %}