{% load staticfiles %}

<script src="{%  static 'assets/js/kindeditor/kindeditor-all-min.js' %}"></script>
<script src="{%  static 'assets/js/kindeditor/lang/zh-CN.js' %}"></script>
<script src="{%  static 'assets/js/kindeditor/config_1.js' %}"></script>

<div id="respond">
    <h3 id="reply-title">Leave a Reply</h3>
    {% if not request.user.is_authenticated %}
    <div class='login_info'>还没有登陆？可以登录后再评论哦。<b><a href="{% url 'login' %}">&raquo;去登录</a>&nbsp;<a href="{% url 'reg' %}">&raquo;去注册</a></b></div>
    {% else %}
    <div class='login_info'><b>{{ request.user.username }}</b>,快来写点评论吧!&nbsp;<a href="{% url 'logout' %}">注销</a></div>
    {% endif %}
    <br />
    <form action="{% url 'comment_post' %}" method="post">
        {% csrf_token %}
    <p>{{ comment_form.comment }}</p>

    <p>
        {{ comment_form.article }}
        <input name="submit" type="submit" id="submit" tabindex="5" value="Submit" class="button" />
    </p>
    <!--
        <div class="form-group">
            <label for="inputComment">Comment</label>
            <textarea class="form-control" rows="6"></textarea>
        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-action">Submit</button>
            </div>
        </div>
     -->
    </form>
</div> <!-- /respond -->


